<header class="bg-slate-50 border-b px-8 py-6">
   <div class="flex justify-between items-center gap-4">
    
    <div class="flex items-center gap-3">
     <button id="btn-menu-mobile" class="text-xl md:hidden">
      <i class="fa-solid fa-bars"></i>
     </button>

      <div>
        <h1 id="page-title" class="text-3xl font-bold tracking-tight text-slate-800"></h1>
        <p id="page-description" class="text-slate-600 text-base mt-1"></p>
      </div>
    </div>

    <button
      id="btn-novo-chamado"
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-indigo-700"
    >
      Novo Chamado
    </button>
  </div>
</header>

